#wechat-response-message-edit-form .field-name-wechat-media-id{
  display:none;
}

#wechat-response-message-edit-form .field-name-wechat-thumb-media-id{
  display:none;
}

.wechat-binding-auto-form,
.wechat-binding-bind-form,
.wechat-binding-register-form{
  border:1px solid #226EB8;
  padding:5px;
  margin-bottom:10px;
}